@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "PingFang SC"; }

ul,
ol,
li {
  list-style: none; }

body {
  font-size: 16px;
  min-height: 12rem;
  background-size: cover; }

p,
div,
button,
h1,
h2,
h3,
h4 {
  font-size: 0.3rem; }

p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  line-height: 1.4rem;
  text-align: center;
  display: inline-block;
  border: none;
  overflow: hidden;
  font-size: 0.35rem; }

.show {
  display: none !important; }

.hidden {
  display: none; }

#navAccount {
  position: absolute;
  z-index: 2;
  left: 6.2rem;
  top: 0;
  display: inline-block;
  text-decoration: none;
  color: #000 !important;
  font-weight: bold;
  padding: 0.2rem 0.2rem; }
  #navAccount::after {
    position: absolute;
    top: 0.44rem;
    right: -0.1rem;
    content: " ";
    display: block;
    width: 0.2rem;
    height: 2px;
    background-color: #000;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }
  #navAccount::before {
    position: absolute;
    top: 0.32rem;
    right: -0.1rem;
    content: " ";
    display: block;
    width: 0.2rem;
    height: 2px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

#pushdate:active {
  opacity: 0.5; }

#images {
  display: none; }

.hidden {
  display: none; }

#roomnumberValue {
  min-width: 1rem; }

h1 {
  text-align: center;
  color: #000;
  height: 1rem;
  line-height: 1rem; }
  h1 strong,
  h1 p {
    position: relative !important;
    display: inline-block !important;
    width: auto;
    vertical-align: middle;
    font-size: 0.4rem;
    font-weight: normal; }
  h1 p {
    font-size: 0.45rem;
    font-weight: bold; }
    h1 p::before {
      content: "";
      position: absolute;
      top: -0.5rem;
      left: 0;
      width: 200%;
      height: 200%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      border-bottom: 1px dashed #000; }

h2 {
  text-align: center;
  padding: 0.2rem;
  color: #e09315; }

h3 {
  display: block;
  padding: 0.2rem 0 0 0;
  width: 3rem;
  color: #000;
  font-weight: normal;
  height: 0.8rem;
  line-height: 0.9rem;
  overflow: hidden;
  text-align: left;
  float: left; }

.main {
  padding: 0 0.4rem 0.4rem 0.4rem;
  position: relative;
  z-index: 1;
  background-color: #fff; }

#periodDateGetItem {
  display: none; }

.date {
  overflow: hidden;
  font-size: 0;
  text-align: left;
  color: #666;
  position: relative;
  margin: 0.4rem 0 -0.2rem 0; }
  .date div,
  .date span {
    display: inline-block;
    line-height: 0.4rem;
    font-size: 0.35rem;
    vertical-align: middle;
    margin-left: -2px; }
  .date div:nth-child(1)::after,
  .date div:nth-child(4)::after {
    content: "年"; }
  .date div:nth-child(2)::after,
  .date div:nth-child(5)::after {
    content: "月"; }
  .date div:nth-child(3)::after {
    content: "日至"; }
  .date div:nth-child(6)::after {
    content: "日"; }
  .date .inputValue::after {
    content: "|";
    color: #666;
    font-size: 0.35rem;
    line-height: 0.3rem;
    position: relative;
    top: auto; }
  .date p {
    position: relative;
    display: inline-block;
    width: auto;
    line-height: 1;
    margin: -4px -8px 0 0;
    font-size: 0.35rem;
    padding: 2px 5px;
    vertical-align: middle; }
    .date p::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0rem;
      right: 0.5rem;
      width: 200%;
      height: 200%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      border-bottom: 1px dashed #000;
      opacity: 0.7; }

.production {
  padding-top: 0.2rem;
  font-size: 0.3rem; }

@-webkit-keyframes anFlash {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; } }

@keyframes anFlash {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; } }

.list {
  width: 100%;
  color: #000;
  list-style: none;
  margin-top: -0.2rem; }
  .list li {
    margin: 0;
    position: relative;
    height: 1rem;
    list-style: none; }
    .list li:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      border-bottom: 1px solid #ddd;
      pointer-events: none; }
  .list li:nth-child(4) {
    clear: both; }
  .list li:nth-child(7),
  .list li:nth-child(8) {
    display: none; }
  .list li:nth-child(1),
  .list li:nth-child(2),
  .list li:nth-child(3),
  .list li:nth-child(4) {
    margin-right: 0rem; }
    .list li:nth-child(1) .optiondd,
    .list li:nth-child(2) .optiondd,
    .list li:nth-child(3) .optiondd,
    .list li:nth-child(4) .optiondd {
      width: 1.2rem !important; }
    .list li:nth-child(1) dd,
    .list li:nth-child(2) dd,
    .list li:nth-child(3) dd,
    .list li:nth-child(4) dd {
      display: inline-block; }
    .list li:nth-child(1) p,
    .list li:nth-child(2) p,
    .list li:nth-child(3) p,
    .list li:nth-child(4) p {
      font-weight: bold;
      color: #000;
      text-align: right; }

.custom {
  position: relative; }
  .custom .optiondl {
    left: 1rem; }
    .custom .optiondl .optiondd {
      display: inline-block;
      float: left; }
    .custom .optiondl .symboldd:last-child {
      position: relative;
      width: 1.2rem;
      height: 0.6rem;
      float: right;
      font-weight: bold;
      color: #000;
      text-align: right;
      overflow: hidden; }
      .custom .optiondl .symboldd:last-child div {
        font-size: 0.35rem !important; }

.optiondl {
  position: absolute;
  top: -1px;
  right: 0;
  text-align: center;
  font-size: 0; }
  .optiondl .symboldd {
    display: inline-block;
    width: 0.3rem;
    text-align: center;
    vertical-align: top;
    position: relative;
    float: left;
    top: 0.5rem;
    color: #666; }
  .optiondl .optiondd {
    position: relative;
    display: block;
    margin-left: -0.05rem;
    width: 1.2rem;
    height: 1rem; }
    .optiondl .optiondd:after {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: -2px;
      left: 0;
      width: 200%;
      height: 2px;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      border-bottom: 1px dashed #000; }
    .optiondl .optiondd .waterPrice,
    .optiondl .optiondd .powerPrice {
      position: absolute;
      top: 0.1rem;
      display: none;
      right: 0;
      color: rgba(0, 0, 0, 0.5); }
  .optiondl span {
    padding-top: 0.15rem;
    display: block;
    font-size: 0.25rem;
    color: #666; }

#share-btn {
  background-color: #fe9c00;
  color: #fff;
  width: 3rem;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.8rem;
  text-align: center;
  margin: auto auto;
  z-index: 20;
  font-size: 0.45rem;
  position: absolute;
  bottom: 4.2rem;
  left: 50%;
  margin-left: -1.5rem; }
  #share-btn:active {
    opacity: 0.5; }
  #share-btn::after {
    position: absolute;
    top: 0.9rem;
    z-index: 2;
    left: 0;
    right: 0;
    height: 2rem;
    line-height: 1;
    overflow: hidden;
    content: "长按保存发送账单";
    color: #666;
    font-size: 0.25rem;
    background-color: #fff;
    pointer-events: none; }
  #share-btn #share-img {
    position: absolute;
    top: -0.3rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 388888;
    width: 3rem;
    height: 2.3rem;
    opacity: 0.1; }

.mod-total {
  position: relative;
  height: 0.5rem;
  margin-top: 0; }
  .mod-total #total {
    position: relative;
    margin-top: 0.2rem;
    line-height: 0.5rem;
    text-align: right;
    color: #fe9c00;
    font-weight: bold;
    font-size: 0.35rem; }
  .mod-total span {
    color: #666;
    font-weight: normal;
    font-size: 0.25rem; }

#history {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  bottom: 2rem;
  left: 0;
  width: 100%; }
  #history li {
    position: relative;
    border-bottom: 0.5px solid #ccc;
    padding: 0.6rem 0 0.1rem 0; }

.inputValue::after {
  content: "|";
  font-size: 0.4rem;
  line-height: 1.5rem;
  position: relative;
  top: -0.03rem;
  -webkit-animation: anFlash 1s infinite step-end;
  animation: anFlash 1s infinite step-end;
  text-indent: 0; }

.keyboard {
  bottom: 0.1rem;
  position: absolute;
  z-index: 21;
  height: 3.4rem;
  width: 100%;
  text-align: center; }
  .keyboard .keyboard-number {
    float: left;
    width: 6rem; }
  .keyboard .keyboard-function {
    position: absolute;
    top: 0;
    right: 2px;
    width: 1.66rem; }
  .keyboard dt {
    width: 100%;
    height: 1.603rem;
    line-height: 1.68rem;
    border-radius: 1px;
    margin: 0.04rem 0 0 0.04rem;
    display: inline-block;
    font-size: 0.4rem;
    background-color: rgba(225, 225, 225, 0.5); }
    .keyboard dt:nth-child(1) {
      height: 1.64rem; }
    .keyboard dt:nth-child(2) {
      height: 1.645rem; }
  .keyboard dd {
    float: left;
    width: 1.42rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 1px;
    margin: 0.04rem 0 0 0.03rem;
    display: inline-block;
    font-size: 0.4rem;
    background-color: rgba(225, 225, 225, 0.5); }
    .keyboard dd:nth-child(14) {
      width: 2.87rem; }

.beforeZero.inputValue {
  text-indent: -90px; }

.keyboard dt:hover,
.keyboard dd:hover {
  background-color: #ddd;
  font-size: 0.6rem; }

.tipshow {
  -webkit-animation: anTipshow 3s;
  animation: anTipshow 3s;
  display: block !important;
  opacity: 0; }

@-webkit-keyframes anTipshow {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes anTipshow {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#tips {
  position: absolute;
  display: none;
  top: 1rem;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 11; }
  #tips .tipsMain {
    padding: 10px;
    border-radius: 0.1rem;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0.3rem; }
    #tips .tipsMain strong {
      font-size: 0.3rem;
      padding-left: 0.1rem;
      vertical-align: middle; }
    #tips .tipsMain span {
      display: block;
      padding: 0.2rem 0;
      font-size: 0.3rem; }
